body {
  margin-bottom: 40px;
}

h4 {
  font-family: 'Roboto';
  font-size: 20px;
  margin: 20px;
}

h3 {
  font-family: 'Roboto';
  color: red;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
}

.btn {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.css {
  display: none;
}

.ruby {
  display: none;
}

.java {
  display: none;
}

.c {
  display: none;
}

.python {
  display: none;
}

p {
  font-family: 'Roboto';
  font-size: 20px;
  color: red;
  text-align: center;
  border: solid black thin;
  margin: 50px;
  margin-top: 20px;
  padding: 20px;
}

.name {
  font-weight: bolder;
}

.mid h2 {
  font-family: 'Roboto';
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 10px;
  position: absolute;
  top: 20%;
  left: 40%;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.container {
  background-color: #D8D8D8;
  margin-top: 20px;
  border-radius: 20px;
  border: solid thin;
}
