.jumbotron {
  font-family: serif;
  text-align: center;
  margin-top: 40px;
  background-color: #b0b7b7;
  border: solid black;
  border-width: thin;
}

body {
  background-color: #ecffe6;
  margin-bottom: 40px;
}

h4 {
  font-family: cursive;
  font-size: 20px;
  margin: 20px;
}

h3 {
  font-family: cursive;
  color: blue;
  margin-bottom: 30px;
}

button {
  margin-top: 40px;
}

.css {
  display: none;
}

.ruby {
  display: none;
}

.java {
  display: none;
}

.c {
  display: none;
}

p {
  font-family: cursive;
  font-size: 20px;
  color: blue;
  text-align: center;
  border: solid black;
  margin: 40px;
  padding: 20px;
}

.name {
  font-weight: bolder;
}
